.nav {
	height: 62px;
	width: 100dvw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 10px;
	border-bottom: 1px solid #e0e0e0;
	background: #ffffff;
	position: fixed;
	z-index: 1000;

	.homeButton {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		text-decoration: none;

		.icon {
			$size: 42px;

			width: $size;
			height: $size;
			border-radius: 10px;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&__title {
				font-size: 1.2rem;
				font-weight: 700;
				color: #1c1c1c;
			}

			&__subtitle {
				font-size: 0.8rem;
				font-weight: 500;
				color: #3f3f3f;
			}
		}
	}

	.pricingButton {
		$background: #5c32e7;

		background: $background;
		color: #ffffff;
		padding: 10px 15px;
		border-radius: 5px;
		text-decoration: none;
		font-size: 0.85rem;
		transition: 200ms ease;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;

		&:hover {
			background: darken($background, 15);
		}
	}
}
